* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 50px;
  background-color: #ff9a4b;
}

.main {
  width: 960px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 300px;
  margin-right: 30px;
  background-color: #eee;
  position: relative;
}

.container:nth-child(3n) {
  margin-right: 0;
}

.step {
  color: #fff;
  background-color: #ff9a4b;
  position: absolute;
  left: 0;
}

.container-content {
  padding: 10px;
}

.container-image {
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.flow-image1 {
  background-image: url(img/flow01.png);
}

.flow-image2 {
  background-image: url(img/flow02.png);
}

.flow-image3 {
  background-image: url(img/flow03.png);
}

.container-title {
  margin-top: 15px;
}

.container-text {
  margin-top: 5px;
}

.footer {
  height: 50px;
  background-color: #aaa;
}